@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFA;
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
}

.about-btn:before {
  content: "";
  display: none;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  padding: 60px;
}

.about-btn:hover::before {
  display: block;
}